  
<div class="row">
    <div class="col-xs-12">
      <h3>Training Table</h3>
    </div>
    <div class="col-xs-12" style="float: left; width: 130px" >
      <td style="text-align: center"><button type="button" class="btn btn-danger"  >Back</button></td> 
      <td style="text-align: center"><button type="button" class="btn btn-primary"(click)="onNewTraining()" >Add Training</button> </td> 
      <td style="text-align: center"><button type="button"class="btn btn-primary" (click)="onEditTraining()" >Update Training</button> </td>
      <td style="text-align: center"><button type="button" class="btn btn-primary " (click)="onDeleteTraining()" >Cancel Training</button> </td>
      <td style="text-align: center"><button type="button" class="btn btn-primary" >Training Report</button> </td>
    
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <br>
      <table border = "2" >
        <tr>
          <th style="width: 200px; text-align: center"> Subject </th>
          <th style="width: 200px; text-align: center"> Department </th>
          <th style="width: 200px; text-align: center"> Training Method (Seminar/Frontal) </th>
          <th style="width: 200px; text-align: center"> Planned Date (Quarter) </th>
          <th style="width: 200px; text-align: center"> Implementation Date (issued) </th>
          <th style="width: 200px; text-align: center"> Reviewed By </th>
          <th style="width: 200px; text-align: center"> Comments </th>
         
        </tr>

        <!-- class="table table-hover" -->
        <tr  
            *ngFor="let trainingEl of TrainingTableData ; let i=index " 
            style="cursor: pointer;"  
              (click)= "onEditItem(i)">
           
          <td> {{trainingEl.subject}}</td>
          <td> {{trainingEl.department}}</td>
          <td> {{trainingEl.trainingMethod}}</td>
          <td> {{trainingEl.plannedDate}}</td>
          <td> {{trainingEl.impDate | date: 'dd/MM/yyyy'}}</td>
          <td> {{trainingEl.reviewedBy}}</td>
          <td> {{trainingEl.comments}}</td>
   
        


        </tr>
      </table>
     
    </div>
  </div>
 