<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-calibration">

      <a routerLink="/" class="navbar-brand">Login</a>

    </div>
  </div>
</nav>

<span class="pull-right">
  <img src="https://www.servicemax.com/images/default-source/default-album/lumenis_logo.png?sfvrsn=0" class="img-responsive"
    style="max-height: 200px; max-width: 200px;">
</span>

<h2>Welcome Marketer</h2>
<div class="row">
  <div class="col-xs-12">
    <button class="btn-primary" type="button"> Ranking Table</button>
   
  </div>
</div>