
<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-danger" >Back</button> 
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Calibration Table</h3>
    <table border = "2" >
      <tr>
        <td style="width: 200px; text-align: center"> Vendor Name </td>
        <td style="width: 200px; text-align: center"> Certification start Date </td>
        <td style="width: 200px; text-align: center"> Certification start Date</td>
        <td style="width: 200px; text-align: center"> Phone Number</td>
        <td style="width: 50px; text-align: center">  </td>
      </tr>
    </table>
  </div>
</div>