
<div class="row">
  <div class="col-xs-12">
    <h3>Calibration Table</h3>
    <table border = "0" >
      <tr>
        <th>Serial</th>
        <th>Tool Name</th>
        <!-- <td>Model</td> -->
        <th>Contact Person</th>
        <th>Department</th>
        <!-- <td>Certification No.</td> -->
        <th>Manufacturer</th>
        <th>New Calibration Date</th>
        <th>Due Date</th>
        <th>Interval</th>
        <th>Results</th>
      </tr>
      <tr *ngFor="let calibrationEl of calibrationData;">
      
        <td>{{calibrationEl.serialNum}}</td>
        <td>{{calibrationEl.toolName}}</td>
      
        <td>{{calibrationEl.manufacturer}}</td>
        <td>{{calibrationEl.dateCalibration}} </td>
        <!-- <td>{{calibrationEl.dueDateCalibration }}</td> -->
      
       
        <td>{{calibrationEl.standard}}</td>
        <td>{{calibrationEl.operation}}</td>
        <td *ngIf="calibrationEl.result === 'Pass'; else elseBlock " style="color: green">{{calibrationEl.result}}</td>
        <ng-template #elseBlock>
          <td ng-if="calibrationEl.result === 'Fail'" style="color: red">{{calibrationEl.result}}</td>
        </ng-template>
        <!-- <td>{{calibrationEl.result}}</td> -->
    </tr>
    </table>
   
    
  </div>
</div>