
<div class="row">
  <div class="col-xs-12">
    <h3>Calibration Table</h3>
    <table border = "0" >
      <tr>
        <td>Serial</td>
        <td>Tool Name</td>
        <td>Model</td>
        <td>Contact Person</td>
        <td>Department</td>
        <td>Certification No.</td>
        <td>Manufacturer</td>
        <td>New Calibration Date</td>
        <td>Due Date</td>
        <td>Interval</td>
        <td>Results</td>
      </tr>
    </table>
   
    <div class="col-xs-12">
      <div *ngFor="let calibrationEl of calibrationData;"
       > {{calibrationEl.toolName}}
        , {{calibrationEl.dateCalibration}}
        , {{calibrationEl.serialNum}}
        , {{calibrationEl.manufacturer}}
        , {{calibrationEl.standard}}
        , {{calibrationEl.operation}}
        , {{calibrationEl.result}}
      </div>
    </div>

  </div>
  
</div>