  
<div class="row">
    <div class="col-xs-12">
      <h3>Audit Supplier Status Table</h3>
    </div>
    <div class="col-xs-12" style="float: left; width: 130px">
      <td style="text-align: center"><button type="button" class="btn btn-danger"  >Back</button></td> 
      <td style="text-align: center"><button type="button" class="btn btn-primary"  >Aidit Report</button></td> 
      <td style="text-align: center"><button type="button"class="btn btn-primary" >Show Filled Report</button> </td>
      <td style="text-align: center"><button type="button" class="btn btn-primary" >Update</button> </td>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <br>
      <table border = "2" >
        <tr>
          <td style="width: 200px; text-align: center"> Vendor Name </td>
          <td style="width: 200px; text-align: center"> Supplier Class </td>
          <td style="width: 200px; text-align: center"> Supplier Classification Description </td>
          <td style="width: 200px; text-align: center"> New Vendor Approval</td>
          <td style="width: 200px; text-align: center"> Location</td>
          <td style="width: 200px; text-align: center"> Last Auditor Date </td>
          <td style="width: 200px; text-align: center"> Auditor planned Quarter </td>
          <td style="width: 200px; text-align: center"> Auditor Name </td>
          <td style="width: 200px; text-align: center"> Comments </td>
          <td style="width: 200px; text-align: center"> Audit Status </td>
          <td style="width: 200px; text-align: center"> Report </td>
          <td style="width: 50px; text-align: center">  </td>
        </tr>
      </table>
    </div>
  </div>