<div class="row">
  <div class="col-xs-12">

    <form [formGroup]="trainingForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="subject">Subject</label>
          <input type="text" id="subject" class="form-control" formControlName="subject" ngModel required>
        </div>
        <div class="col-sm-3 form-group">
          <label for="department">Department</label>
          <input type="text" id="department" class="form-control" formControlName="department" ngModel required>
        </div>


        
      </div>




      <div class="row">
        <div class="col-sm-3 " style="width: 225px;">
          <label for="impDate">Implementation Date (issued)</label>
          <input type="date" id="impDate" class="form-control" formControlName="impDate" ngModel required>
        </div>

        <div class="col-sm-2 form-group">
          <label for="trainingMethod">Training Method:</label>

          <div class="col-xs-12 form-group">
            <div class="radio" *ngFor="let trainingMethod of trainingMethods">
              <input type="radio" formControlName="trainingMethod" [value]="trainingMethod" ngModel required> {{ trainingMethod }}
            </div>
          </div>

        </div>

        <div class="col-sm-3 form-group">
            <label for="plannedDate">PlannedDate</label>
  
            <select formControlName="plannedDate">
              <option value="{{plannedDate}}" *ngFor="let plannedDate of plannedDates">{{plannedDate}}</option>
            </select>
  
          </div>
  

      </div>

      <div class="row">
        <div class="col-sm-2 form-group">
          <label for="comments">Comments</label>
          <input type="text" id="comments" class="form-control" formControlName="comments" ngModel required>
        </div>

        <div class="col-sm-2 form-group">
          <label for="reviewedBy">Reviewd By</label>
          <input type="text" id="reviewedBy" class="form-control" formControlName="reviewedBy" ngModel required>
        </div>
      </div>

      <hr>
      <!-- <span
      *ngIf="!newTrainingForm.valid && newTrainingForm.touched"
      class="help-block">Please enter valid data!</span>
     -->
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">{{ editMode ? 'Update':'Submit'}}</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>